body {
    margin: 0
}

.left-side {
    width: 285px;
    height: 100vh;
}

.right-side {
    width: 1155px;
    padding: 0 40px;
}

.container {
    display: flex;
    padding: 60px 0;
    width: 1440px;
    margin: 0 auto;
}

.heading {
    height: 170px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.heading__title {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.heading__header {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 150%;
}

.heading__subtitle {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #7C8DB5;
}

.heading__subtitle--top{
    margin-top: auto;
}

.heading__subtitle--active{
    color: blue;
}
